<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUERRA" connectionString="Data Source=KAIMAN\MSSQLSERVER01;Initial Catalog=BDFACTURAS3607;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>